<p id="notice"><%= notice %></p>

<h1>Dule</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.status %></td>
        <td>
          <% post.status_events.each do |event| %>
            <%= link_to event, action_post_path(post, event: event), method: :post %>
          <% end %>
          <%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <ul>
          <% post.post_status_transitions.each do |t| %>
            <li>
              <%= t.slice :name, :description, :from, :to, :another_description %>
            </li>
          <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
